*
{
  margin:0;
  padding:0;  
}


#box1

{
  height: 120px;
  width: 100%;
  background-color:#b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00EAE5, #1DEA00 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#h1
{
padding-left:30px;
padding-top:30px;
font-family: architects daughter;
font-color:
}

#h2
{
font-family: comic sans ms;
background: -webkit-linear-gradient(#008DBC , #FF77D6 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 60px;
}

#fname
{
position: absolute;
left:60px;
top:200px;
font-size:20px;
}

#submit 
{
position: absolute;
left:320px;
top:200px;
height:30px;
width:60px;
font-family: comic sans ms;
background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, yellow, green);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, green, yellow); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#h3
{
position: absolute;
font-size:30px;
background: -webkit-linear-gradient(#1DFFAB , #FF77D6 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 40px 60px;
}

#ish
{
position:absolute;
left:50px;
top:300px;
list-style-type: None;
font-family: 'Syne Mono', monospace;
}

.styling_li
{
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #00EAE5, #1DEA00) 1;
  width:550px;
  padding: 13px;
  font-size:20px;
}

.edit
{
background-color: #5AEC00 ;
margin-left: 5px;
float: right;
padding: 8px;
border-radius: 7px;
border: none;
  font-size:15px;
}

.del
{
background-color: #FF4745 ;
margin-left: 15px;
float: right;
padding: 8px;
border-radius: 7px;
border: none;
    font-size:15px;

}

#im2
{
height: 240px; width : 170px;
margin-top: 200px;
margin-left: 700px;
position:absolute;
border: outset black;
  
}